@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	overflow: hidden;
}

body {
	margin: 1% 2%;
	font-family: 'Orbitron', sans-serif;
	background-color: black;
	color: red;
}

a {
	color: red;
	font-style: italic;
}

hr.header_border{
	border: 0.5px solid red;
}

header {
	/* height: 10%; */
}

.left {
	text-align: left;
}

.right {
	position: absolute;
	right:0;
	text-align: right;
	margin-right: 2%;
}

.center {
	text-align: center;
}

#source {
	font-size: 10px;
}

#title {
	width: 100%;
	position: absolute;
	top:5%;
	font-size: 20px;
	color: rgb(31,225,255);
}

#date {
	font-size: small;
}